
.dropdown-toggle {
    cursor: pointer;
}
.navbar {
/*    border-bottom: 1px solid #00b0ff;/*#5bc0de*/
    /*box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
 /*   box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 1px 0px rgba(0,0,0,0.12);*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);*//*from angular*/
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: none;
    transition : box-shadow 290ms linear;
}
.navbar-brand {
    font-size: 2.1rem;
}
.settings-content {
    align-items: center;
}
.custom-select {
    border: none;
    width: auto;
}
.custom-select:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.form-control {
    padding: 0.18rem 0.5rem;
    /*background-color: #f8f9fa;*/
    /*border-color: #0074A6;*/
    border-color: rgba(0, 116, 166, 0.7);
}
.form-inline {
    height: 2.25rem;
}
.divider-vertical {
    height: 40px;
    margin: 7px 7px;
    /*border-right: 1px solid #ced4da;*/
}
/* In case of using icons */
[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
    font-size: 38px;
    color: rgba(0, 116, 166, 0.7);
}
.sticky {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
    transition : box-shadow 290ms linear;
}
/*Custom lang radio button*/
.lang-box {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.lang-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 4px;
    left: 14px;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.lang-box:hover input ~ .checkmark {
    background-color: rgba(204, 204, 204, 0.7);
}

/* When the radio button is checked, add a blue background */
.lang-box input:checked ~ .checkmark {
    background-color: rgba(246, 138, 32, 0.7);
    /*background-color: rgba(0, 116, 166, 0.7);*/
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.lang-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.lang-box .checkmark:after {
 	top: 2px;
	left: 2px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}

.lang label {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
}
.nav-item.lang {
    margin-right: 16px;
}

@media (max-width: 991px) {
    .divider-vertical {
        display: none;
    }
    .settings-content {
        align-items: flex-start;
    }
}
