
.dropdown-toggle {
    cursor: pointer;
}

.navbar {
    border-bottom: 1px solid #00b0ff;/*#5bc0de*/
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.navbar-brand {
    font-size: 2.1rem;
}
.custom-select {
    border: none;
    width: auto;
}
.custom-select:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.form-control {
    padding: 0.18rem 0.5rem;
    background-color: #f8f9fa;
}
.form-inline {
    height: 2.25rem;
}
.divider-vertical {
    height: 40px;
    margin: 7px 7px;
    border-right: 1px solid #ced4da;
}


/*#F2F2F2*/