<nav class="navbar navbar-expand-lg navbar-light sticky-top" [class.sticky]="isScrolled" (scroll)="onScroll($event)">
  <div class="container">

    <a class="navbar-brand" routerLink="/">
      <img src="/assets/img/Logo.svg" style="width: 99px" alt="Logo">
    </a>

    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" [attr.aria-expanded]="!isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="navbar-collapse flex-column">
      <ul class="navbar-nav ml-auto settings-content">
        <li class="nav-item lang">
          <label *ngFor="let lang of translate.getLangs()" class="lang-box">{{ lang | uppercase }}
              <input type="radio" #langSelect (change)="translate.use(langSelect.value)" [value]="lang" [checked]="lang === translate.currentLang" name="radio">
              <span class="checkmark"></span>
          </label>

          <!-- <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select> -->


          <!-- <label class="lang-box">Ukr
              <input type="radio" name="radio">
              <span class="checkmark"></span>
          </label>
          <label class="lang-box">Rus
              <input type="radio" name="radio">
              <span class="checkmark"></span>
          </label> -->
          
            <!-- <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value="1">Рус</option>
                <option value="2">Укр</option>
                <option value="3">Eng</option>
                <option value="4">Pol</option>
                <option value="5">Čes</option>
            </select> -->
        </li>

        <!-- <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-item nav-link dropdown-toggle mr-md-2">
            Рус
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item active" href="#">Рус</a>
            <a class="dropdown-item" href="#">Укр</a>
            <a class="dropdown-item" href="#">Eng</a>
          </div>
        </li> -->

        <li class="nav-item">
          <form class="form-inline my-2 my-md-0">
            <input class="form-control form-control-sm" type="text" placeholder="{{ 'NAVBAR.SEARCH' | translate }}" aria-label="Search">
          </form>
        </li>
        
        <li *ngIf="authService.isLoggedIn()"><a class="nav-link">{{ authService.currentUser.name }}</a></li>
        <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active"><a class="nav-link" href="#">{{ 'NAVBAR.SIGNUP' | translate }}</a></li>
        <li *ngIf="!authService.isLoggedIn()" class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/login">{{ 'NAVBAR.SIGNIN' | translate }}</a></li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item"><a class="nav-link" routerLink="/login" (click)="authService.logout()">{{ 'NAVBAR.SIGNOUT' | translate }}</a></li>
      </ul>

      <ul class="navbar-nav ">
        <li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
          <a ngbDropdownToggle class="nav-link dropdown-toggle">
            <span class="icon-earth-globe"></span> {{ 'NAVBAR.EDUCATION' | translate }}</a>
          <div ngbDropdownMenu class="dropdown-menu show">
              <a class="dropdown-item" routerLink="/cluster">
                  <span class="h6 mb-0">Кластер</span>
                  <div class="text-small text-muted">Инжиниринг, моделирование</div>
                  <div class="text-small text-muted">Front-end реализация</div>
                  <div class="text-small text-muted">Back-end реализация</div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/chair">
                  <span class="h6 mb-0">Кафедра</span>
                  <p class="text-small text-muted">Деятельность кафедры</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/khpi">
                  <span class="h6 mb-0">ХПИ</span>
                  <p class="text-small text-muted">Деятельность института</p>
              </a>
          </div>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#"><span class="icon-scientist_1"></span> {{ 'NAVBAR.SCIENCE' | translate }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#"><span class="icon-industrial-robot"></span> {{ 'NAVBAR.MANUFACTURING' | translate }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li ngbDropdown class="nav-item dropdown" routerLinkActive="active">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"><span class="icon-calculator"></span> {{ 'NAVBAR.TOOLS' | translate }}</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" routerLink="/cutting-calculation">
              <span class="h6 mb-0">Расчет режимов резания</span>
              <p class="text-small text-muted">Фрезерование, точение, сверление</p>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/virtual-warehouse">
                <span class="h6 mb-0">Виртуальный склад</span>
                <p class="text-small text-muted">Оптимизация склада</p>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/planner">
                <span class="h6 mb-0">Планирование</span>
                <p class="text-small text-muted">Управление проектами</p>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/knowledge">
              <span class="h6 mb-0">База знаний</span>
              <p class="text-small text-muted">Техническая информация</p>
            </a>
          </div>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/projects"><span class="icon-projects"></span> {{ 'NAVBAR.PROJECTS' | translate }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/participate"><span class="icon-transfer"></span> {{ 'NAVBAR.PARTICIPANTS' | translate }}</a>
        </li>
        <li class="divider-vertical"></li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contacts"><span class="icon-email"></span> {{ 'NAVBAR.CONTACTS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
