/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "/assets/fonts/fonts.css";

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
p {
    font-weight: 400;
}    
.main {
    padding-top: 30px;
}
.container {
    padding-right: 10px;
    padding-left: 10px;
}
.btn {
    border: none;
}
.btn-primary {
    /*background-color: #00b0ff;*/
    background-color: hsla(30, 92%, 55%, 0.7);
}
.footer {
    border-top: 1px solid #e3edf1;
}
 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .main {
        padding-top: 60px;
    }
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        padding-top: 110px;
    }
}
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

 /* MAX Extra large devices (large desktops, 1350px and up) */
@media (min-width: 1350px) {
    .container {
        max-width: 1320px;
    }
}