/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "/assets/fonts/fonts.css";

body {
    /*padding-top: 110px;*/
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
p {
    font-weight: 400;
}    

.main {
    padding-top: 60px;
}

@media (min-width: 1350px) {
    .container {
        max-width: 1320px;
    }
}
.btn {
    border: none;
}
.btn-primary {
    /*background-color: #00b0ff;*/
    background-color: rgba(246, 138, 32, 0.7);
}
.active .nav-link {
    /*text-shadow: 1px 0px 1px rgba(150, 150, 150, 0.7);*/
    /*text-shadow: 0 2px 5px rgba(0,0,0,.26);*/
    color: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-item:active {
    background-color: rgba(19, 150, 186, 0.6);
}
.dropdown-item:active > .text-muted {
    color: #fff !important;
}
.dropdown-item {
    transition: background-color .35s ease;
}

.navbar .dropdown-menu.show {
    animation: showDropdown .35s ease forwards;
}
@keyframes showDropdown{
    0%{ opacity: 0; transform: translateY(5px); }
    100%{ opacity: 1; transform: translateY(0); }
}