<section class="intro">
  <img src="/assets/img/bg-start.svg" class="intro-bg" alt="background">
  <img src="/assets/img/Logo.svg" class="intro-logo" alt="Logo">
  <div class="intro-slogan">
    <h1 [innerHTML]=" 'HOME.INTRO' | translate "></h1>
    <h3 class="text-muted">{{ 'HOME.SECONDARY' | translate }}</h3>
  </div>
</section>
<section class="details pt-5">
    <div class="media row justify-content-sm-center flex-sm-column my-5" style="line-height: 2rem">
        <img class="align-self-center mr-3 col-md-2 px-3" src="/assets/img/artificial-intelligence.svg" alt="Generic placeholder image">
        <div class="media-body col-md-5" [innerHTML]=" 'HOME.INDUSTRY4' | translate "></div>
    </div>
    <div class="media row justify-content-sm-center flex-sm-column my-5" style="line-height: 2rem">
        <div class="media-body col-md-5" [innerHTML]=" 'HOME.ERP' | translate "></div>
        <img class="align-self-center mr-3 col-md-2 px-3" src="/assets/img/worker.svg" alt="Generic placeholder image">
    </div>
</section>

