<section class="intro">
  <img src="/assets/img/bg-max-min.png" style="width: 100%" class="intro-bg" alt="background">
  <img src="/assets/img/Logo.svg" class="intro-logo" alt="Logo">
  <div class="intro-slogan">
    <h1 [innerHTML]=" 'HOME.INTRO' | translate "></h1>
    <h3 class="text-muted">{{ 'HOME.SECONDARY' | translate }}</h3>
  </div>
</section>
<section class="details pt-5">
    <div class="media row justify-content-sm-center flex-column flex-md-row my-5 pb-5" style="line-height: 2rem">
        <div class="media-body col-md-5 order-2 order-md-1" [innerHTML]=" 'HOME.JAVAMACH' | translate "></div>
        <img class="align-self-center mr-3 col-md-2 px-3 col-6 mb-5 mb-md-0 order-1 order-md-2" src="/assets/img/network.svg" alt="Generic placeholder image">
    </div>
    <div class="media row justify-content-sm-center flex-column flex-md-row my-5 pb-5" style="line-height: 2rem">
        <img class="align-self-center mr-3 col-md-2 px-3 col-6 mb-5 mb-md-0" src="/assets/img/artificial-intelligence.svg" alt="Generic placeholder image">
        <div class="media-body col-md-5" [innerHTML]=" 'HOME.INDUSTRY4' | translate "></div>
    </div>
    <div class="media row justify-content-sm-center flex-column flex-md-row my-5 pb-5" style="line-height: 2rem">
        <div class="media-body col-md-5 order-2 order-md-1" [innerHTML]=" 'HOME.ERP' | translate "></div>
        <img class="align-self-center mr-3 col-md-2 px-3 col-6 mb-5 mb-md-0 order-1 order-md-2" src="/assets/img/worker.svg" alt="Generic placeholder image">
    </div>
</section>


