.intro {
    position: relative;
}

.intro-bg {
    opacity: 0.6;
}

.intro-logo {
    display: none;
}

.intro-slogan {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.intro-slogan h1 {
    /* color: #736d68; */
    /* color: #827c78; */
    color: #928d8b;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.intro-slogan h3 {
    /* color: #736d68; */
    /* color: #827c78; */
    /* color: #928d8b; */
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 35px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 576px) {
    .intro-slogan {
        top: 50%;
    }
    .intro-slogan h1 {
        font-size: 2rem;
        line-height: 50px;
    }
}

@media (min-width: 768px) {
    .intro-bg {
        opacity: 1;
    }
    .intro-logo {
        display: block;
        position: absolute;
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        top: 20px;
        right: 0;
        left: 0;
    }
    .intro-slogan {
        top: 100%;
    }
    .intro-slogan h1 {
        font-size: 1.5rem;
        line-height: normal;
    }
    .intro-slogan h3 {
        font-size: 1.1rem;
    } 
}

@media (min-width: 992px) {
    .intro-logo {
        width: 264px;
        top: 57px;
    }
    .intro-slogan {
        top: 78%;
    }
    .intro-slogan h3 {
        font-size: 1.5rem;
    } 
}

@media (min-width: 1200px) {
    .intro-slogan {
        top: 76%;
    }
    .intro-logo {
        width: 308px;
        top: 69px;
    }
    .intro-slogan h1 {
        font-size: 2.6rem;
    }
}
@media (min-width: 1350px) {
    .intro-logo {
        width: 358px;
        top: 75px;
    }
    .intro-slogan {
        top: 79%;
    }
}
